@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap')

$font-family: 'Roboto', sans-serif
$margin-percentage: 2%
$primary-color: #87CEFF
$primary-margin: 0px

#app-container
  margin: $primary-margin

#repository-title
  margin: $primary-margin
  padding-left: $margin-percentage
  background-color: $primary-color
  color: white
  font-family: $font-family
