@import '../../variables.sass'

%input-button-shared
  border-style: groove
  border-radius: 5px
  font-family: $font-family

%display-flex
  display: flex

#search-repositories-form
  padding-left: $margin-percentage
  margin-top: 10px

#search-repositories-box
  @extend %display-flex

#search-repositories-input-container
  @extend %input-button-shared
  @extend %display-flex

#search-repositories-input
  @extend %input-button-shared
  border: none
  outline: none

#search-repositories-button
  @extend %input-button-shared
  border-color: #d3d3d3
  background-color: $primary-background-color

.input-icon
  color: #d3d3d3