@import '../../variables.sass'

#search-repositories-form
  padding-left: $margin-percentage
  margin-top: 10px

#search-repositories-box
  @extend %display-flex

#search-repositories-input-container
  @extend %border-shared
  @extend %display-flex

#search-repositories-input
  @extend %border-shared
  border: none
  outline: none

#search-repositories-button
  @extend %border-shared
  border-color: $secondary-color
  background-color: $primary-background-color

#repositories-filter-button
  @extend %border-shared
  margin-left: 2px

.input-icon
  color: $secondary-color