@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap')

.search-cell
  font-family: 'Roboto', sans-serif
  border-bottom: groove
  margin-top: 20px
  margin-right: 2%

.search-cell-name
  font-weight: bold

.search-cell-description
  font-weight: light

.search-cell-link